# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# Claude Code
.claude/**/*.local.*
.claude/*.local.*
.claude/tmpclaude/
.claude/settings.local.json
ktlint
keystore/release.keystore
